<!DOCTYPE html>
<html>
<head>
    <title><%= todo %></title>http://jspang.com/wp-admin/post.php?post=2760&action=edit#
</head>
<body>
    <h1><%= todo %></h1>
    <p>EJS Welcome to <%= todo %></p>
</body>
</html>